[Desktop Entry]
Name=Feedback
Exec=/home/tim/.cargo/bin/desktopctl feedback
Icon=lightbulb-symbolic
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=feedback;report;idea;ubuntu;devel;
